    // Unsupported: no parameter found to obtain the {{ construct_from }} capsule.
    Err(pyo3::exceptions::PyRuntimeError::new_err("capsule_types construct_from: no parameter available to obtain {{ construct_from }} capsule"))
