        {{ name }}={% if optional %}([_to_rust_{{ struct_snake }}(v) for v in {{ accessor }}] if {{ accessor }} is not None else None){% else %}[_to_rust_{{ struct_snake }}(v) for v in {{ accessor }}]{% endif %},
