blk: {
{% if error_type %}
        if ({{ raw }} == null) return error.UnknownFfiError;
{% endif %}
        const slice = {{ raw }}[0.._result_len];
        defer _free_string({{ raw }});
        const owned = try std.heap.c_allocator.dupe(u8, slice);
        break :blk owned;
    }
