    /// Free the {{ service_name }} instance.
    pub fn deinit(self: *{{ service_name }}) void {
        if (self.owner != 0) {
            c.{{ free_fn }}(self.owner);
            self.owner = 0;
        }
    }
