    /// Run the service entrypoint '{{ ep_method }}'.
    pub fn {{ method_name }}(self: *{{ service_name }}{{ params_decl }}) {{ return_type }} {
        const owner_handle = self.owner;
        if (owner_handle == 0) return {{ null_return }};
{% if returns_opaque %}
        return @ptrFromInt(c.{{ c_fn }}(
            owner_handle{{ args }}
        ));
{% else %}
        return c.{{ c_fn }}(
            owner_handle{{ args }}
        );
{% endif %}
    }
