        .free_string = struct {
            fn thunk(ptr: [*c]u8) callconv(.c) void {
                if (ptr != null) std.heap.c_allocator.free(std.mem.span(ptr));
            }
        }.thunk,
        .free_user_data = struct {
            fn thunk(user_data: ?*anyopaque) callconv(.c) void {
                _ = user_data;
            }
        }.thunk,
