#[allow(dead_code)]
fn {{ fn_name }}(value: &str) -> Result<{{ source_path }}, String> {
    match value {
{{ variants }}        _ => Err(format!("unknown {{ enum_name }} variant: {:?}", value)),
    }
}
