/// Swift protocol that Swift classes implement to provide visitor callbacks. /// Conform to this protocol to intercept
configured Rust trait bridge events. /// Implementations may be invoked concurrently and must synchronize mutable state.
public protocol {{ protocol_name }}: AnyObject {
