{% if language == "python" %}
{% if uses_mock_url %}
import os
{% endif %}
{% if module %}
from {{ module }} import {{ function }}{% if client_factory %}, {{ client_factory }}{% endif %}{% if options_type %}, {{ options_type }}{% endif %}{% for setup_function in setup_functions %}, {{ setup_function }}{% endfor %}
{% endif %}
{% elif language == "ruby" and module %}
require "{{ module }}"
{% elif (language == "node" or language == "wasm") and module %}
import { {{ function }}{% if client_factory %}, {{ client_factory }}{% endif %}{% if options_type %}, {{ options_type }}{% endif %} } from "{{ module }}";
{% elif language == "rust" and module %}
use {{ module }}::{{ function }};
{% endif %}
{% for setup_call in setup %}
{{ setup_call }}
{% endfor %}
{% if client_factory %}
{% if language == "python" %}
client = {{ client_factory }}("test-key"{% if uses_mock_url %}, f"{os.environ['MOCK_SERVER_URL']}/fixtures/{{ fixture_id }}"{% endif %})
{% elif language == "ruby" %}
client = {{ client_factory }}("test-key"{% if uses_mock_url %}, "#{ENV.fetch('MOCK_SERVER_URL')}/fixtures/{{ fixture_id }}"{% endif %})
{% elif language == "node" or language == "wasm" %}
const client = {{ client_factory }}("test-key"{% if uses_mock_url %}, `${process.env.MOCK_SERVER_URL}/fixtures/{{ fixture_id }}`{% endif %});
{% endif %}
{% endif %}
{% if language == "rust" %}
let result = {{ function }}({{ arguments }});
{% elif language == "python" %}
{% if async_call %}result = await {% else %}result = {% endif %}{% if client_factory %}client.{% endif %}{{ function }}({{ arguments }})
{% elif language == "node" or language == "wasm" %}
{% if async_call %}const result = await {% else %}const result = {% endif %}{% if client_factory %}client.{% endif %}{{ function }}({{ arguments }});
{% elif language == "ruby" %}
result = {% if client_factory %}client.{% endif %}{{ function }}({{ arguments }})
{% elif language == "php" %}
$result = {{ function }}({{ arguments }});
{% elif language == "elixir" %}
result = {{ function }}({{ arguments }})
{% elif language == "go" %}
result := {{ function }}({{ arguments }})
{% elif language == "java" or language == "kotlin" or language == "kotlin_android" or language == "csharp" or language == "dart" or language == "swift" %}
var result = {{ function }}({{ arguments }});
{% else %}
{{ function }}({{ arguments }});
{% endif %}
