{% if language == "rust" %}let result = {{ function }}({{ arguments }});{% elif language == "python" %}{% if async_call %}result = await {% else %}result = {% endif %}{{ function }}({{ arguments }}){% elif language == "node" or language == "wasm" %}{% if async_call %}const result = await {% else %}const result = {% endif %}{{ function }}({{ arguments }});{% elif language == "ruby" %}result = {{ function }}({{ arguments }}){% elif language == "php" %}$result = {{ function }}({{ arguments }});{% elif language == "elixir" %}result = {{ function }}({{ arguments }}){% elif language == "go" %}result := {{ function }}({{ arguments }}){% elif language == "java" or language == "kotlin" or language == "kotlin_android" or language == "csharp" or language == "dart" or language == "swift" %}var result = {{ function }}({{ arguments }});{% else %}{{ function }}({{ arguments }});{% endif %}
