---
id: {{ id }}
language: {{ language }}
target: {{ target }}
level: {{ level }}
requires: {{ requires }}
side_effect: {{ side_effect }}
---

{% if description %}{{ description }}

{% endif %}
```{{ fence }} title="{{ title }}"
{{ body }}
```
