    @Override
    public void close() {
        try {
            MemorySegment freeAddr = LOOKUP.find("{{ ffi_prefix }}_{{ service_snake }}_free")
                .or(() -> LOOKUP.find("_{{ ffi_prefix }}_{{ service_snake }}_free"))
                .orElseThrow();
            FunctionDescriptor freeDesc = FunctionDescriptor.ofVoid(ValueLayout.JAVA_LONG);
            MethodHandle freeHandle = LINKER.downcallHandle(freeAddr, freeDesc);
            if (ownerHandle != 0) {
                freeHandle.invokeExact(ownerHandle);
                ownerHandle = 0;
            }
            arena.close();
        } catch (Throwable e) {
            throw new RuntimeException("Failed to close service", e);
        }
    }
}
