    /**
     * Configure the service with a host and port.
     * Creates a ServerConfig from JSON and applies it via the C FFI.
     */
    public void config(String host, int port) {
        try {
            // Build ServerConfig JSON from host and port
            String configJson = String.format(
                "{\"host\": \"%s\", \"port\": %d}",
                host.replace("\"", "\\\""),
                port
            );

            // Allocate and populate the config JSON string in the shared arena
            MemorySegment configSegment = arena.allocateFrom(configJson);

            // Look up the C function to create ServerConfig from JSON
            MemorySegment createAddr = LOOKUP.find("{{ ffi_prefix }}_server_config_from_json")
                .or(() -> LOOKUP.find("_{{ ffi_prefix }}_server_config_from_json"))
                .orElseThrow();
            FunctionDescriptor createDesc = FunctionDescriptor.of(
                ValueLayout.JAVA_LONG  // return: ServerConfig AlefHandle
                , ValueLayout.ADDRESS  // param: config JSON string
            );
            MethodHandle createHandle = LINKER.downcallHandle(createAddr, createDesc);
            long configHandle = (long) createHandle.invokeExact(configSegment);

            if (configHandle == 0) {
                throw new RuntimeException("Failed to create ServerConfig from JSON");
            }

            // Look up the C function to apply config to the service
            MemorySegment applyAddr = LOOKUP.find("{{ ffi_prefix }}_{{ service_snake }}_config")
                .or(() -> LOOKUP.find("_{{ ffi_prefix }}_{{ service_snake }}_config"))
                .orElseThrow();
            FunctionDescriptor applyDesc = FunctionDescriptor.of(
                ValueLayout.JAVA_LONG, // return: AlefHandle
                ValueLayout.JAVA_LONG, // owner: AlefHandle
                ValueLayout.JAVA_LONG  // config: AlefHandle
            );
            MethodHandle applyHandle = LINKER.downcallHandle(applyAddr, applyDesc);
            ownerHandle = (long) applyHandle.invokeExact(ownerHandle, configHandle);

            // Free the ServerConfig handle
            MemorySegment freeAddr = LOOKUP.find("{{ ffi_prefix }}_server_config_free")
                .or(() -> LOOKUP.find("_{{ ffi_prefix }}_server_config_free"))
                .orElseThrow();
            FunctionDescriptor freeDesc = FunctionDescriptor.ofVoid(ValueLayout.JAVA_LONG);
            MethodHandle freeHandle = LINKER.downcallHandle(freeAddr, freeDesc);
            freeHandle.invokeExact(configHandle);

        } catch (Throwable e) {
            throw new RuntimeException("Failed to configure host and port", e);
        }
    }
