	jsonPtrUpdated := C.{{ ffi_prefix }}_{{ type_snake }}_to_json(cRecv)
	if jsonPtrUpdated != nil {
		_ = json.Unmarshal([]byte(C.GoString(jsonPtrUpdated)), {{ recv }})
		C.{{ free_string_fn }}(jsonPtrUpdated)
	}
