// {{ go_name }} is an opaque handle type.
type {{ go_name }} struct {
	ptr C.{{ c_type }}
}

// Free releases the resources held by this handle.
func (h *{{ go_name }}) Free() {
	if h.ptr != 0 {
		C.{{ ffi_prefix }}_{{ type_snake }}_free(h.ptr)
		h.ptr = 0
	}
}
