// Service: {{ service_name }}
// extern uint64_t {{ service_lower }}_{{ service_snake }}_new(void);
// extern void {{ service_lower }}_{{ service_snake }}_free(uint64_t handle);
{% for registration in registrations %}
// extern int {{ registration.symbol }}(
//     uint64_t owner,
//     char* (*callback)(void*, const char*),
//     void (*response_free)(char*),
//     void* context{% for param in registration.params %},
//     {{ param.c_type }} {{ param.name }}{% endfor +%}
// );
{% endfor %}
{% for entrypoint in entrypoints %}
// extern {{ entrypoint.return_c_type }} {{ entrypoint.symbol }}(
//     uint64_t owner{% for param in entrypoint.params %},
//     {{ param.c_type }} {{ param.name }}{% endfor +%}
// );
{% endfor %}
