	new_owner := C.{{ service_lower }}_{{ service_snake }}_{{ cfg_method_snake }}(
{% for arg in args %}
		{{ arg.expr }},
{% endfor %}
	)

	if new_owner == 0 {
		return errors.New("configurator failed")
	}
	s.owner = new_owner
	return nil
}
