"exports": {
    ".": {
      "types": "./pkg/{{ node_target }}/{{ crate_file }}_wasm.d.ts",
      "browser": "./pkg/{{ web_target }}/{{ crate_file }}_wasm.js",
      "import": "./pkg/{{ node_target }}/{{ crate_file }}_wasm.js",
      "require": "./pkg/{{ node_target }}/{{ crate_file }}_wasm.js",
      "default": "./pkg/{{ node_target }}/{{ crate_file }}_wasm.js"
    }
  },
