{% if optional %}
{{ indent }}match v {
{{ indent }}    None => 0i64,
{{ indent }}    Some(inner) => {{ inner_value }}.into_raw() as jlong,
{{ indent }}}
{% else %}
{{ indent }}{{ direct_value }}.into_raw() as jlong
{% endif %}
