
    })) {
        Ok(value) => value,
        Err(_) => {
            let _ = std::panic::catch_unwind(std::panic::AssertUnwindSafe(set_panic_error));
            {{ panic_return }}
        }
    }
}
