    fn {{ method_name }}({{ all_params }}) -> {{ ret }} {
        match with_handle::<{{ pascal_prefix }}Visitor, _>(self.0, |visitor| visitor.{{ method_name }}({{ arg_list }})) {
            Ok(result) => result,
            Err(error) => {
                set_handle_error(&error);
                {{ default_result }}
            }
        }
    }
