    fn {{ method_name }}({{ all_params }}) -> {{ ret }} {
        match with_handle_mut::<{{ handle_type }}, _>(self.0, |visitor| {
            visitor.{{ method_name }}({{ arg_list }})
        }) {
            Ok(result) => result,
            Err(error) => {
                set_handle_error(&error);
                panic!("visitor handle became invalid during callback dispatch");
            }
        }
    }
